.drawer-icon {
    font-size: 1.4!important;
    color: #1b75bc!important;
}
.drawer-label {
    color: #1b75bc!important;
    font-size: 1.2em!important;
    text-decoration: none!important;
    width: 90px;
}
.drawer-title {
    color: #1b75bc!important;
    font-size: 1.2em!important;
    margin-top: 10px!important;
    margin-left: 20px!important;
    text-decoration: none!important;
}


