.c-header-wrapper {
    background-color: #efefef!important;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 0px;
}
.contact-header {
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
    font-size: 1.8em;
    color: #444444;
}
@media only screen and (max-width: 900px) {
    .c-header-wrapper {
        padding-top: 50px;
    }
}