.contact-header {
    text-align: center;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 70px;
    font-size: 1.8em;
    color: #444444;
}
.contact-header2 {
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    font-size: 1em;
    color: #444444;
}