.about-wrap {
    width: 100%;
    background-color: white;
}
.about-box {
    width: 70%;
    margin: auto;
}
.about-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 40% 60%;
    padding-top: 40px;
    padding-bottom: 100px;
}
.about-head {
    text-align: center;
    font-size: 1.8em;
    color: #444444!important;
    font-weight: 700;
    padding-top: 80px!important;
}

.about-img {
    padding-left: 10px;
    padding-right: 0px;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: -20px;
}
.about-img :hover{
    padding-left: 10px;
    padding-right: 0px;
    width: 70%;
    height: auto;
    margin: auto;
}
.about-text {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-size: 1em;
    padding: 10px;
    color: #444444!important;
}

.myimg { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 
 h2 { 
    position: absolute; 
    width: 100%; 
 }

 .mytxt { 
    position: absolute; 
    font-size: 1em;
    font-weight: 100;
    color: yellow;
    background-color: 'transparent';
    top: 40px; 
    left: 60px; 
    width: 50%; 
 }
@media only screen and (max-width: 900px) {
    .about-img {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 0px;
    }
    .about-grid {
        grid-gap: 20px;
        grid-template-columns: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-head {
        padding-top: 80px!important;
    }
}
