.contact-wrapper {
    width: 100%;
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 500px;
}
.contact-input {
    padding: 10px;
    font-size: 1.3em;
    background-color: #f5f5f5;
    border: solid 1px #999999;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.so-btn {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px!important;
    width: 30px;
}
.contact-img {
    width: 100px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 300px;
}
form {
    font-family:Arial, Helvetica, sans-serif;
    color: #555555;
    font-weight: 600;
    width: 70%;
    margin: auto;
}
input {
    width: 200px;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: solid 1px #cccccc;
    margin-top: 2px;
}
textarea {
    font-family:Arial, Helvetica, sans-serif;
    height: 200px;
    font-size: 1.1em;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    background-color:white;
    border: solid 1px #cccccc;
}
.contact-paper {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 80px;
    margin: auto;
}
.contact-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 50% 50%;
}
.container-fluid {
    color: #444444;
    font-size: 1.1em;
    font-weight: 400;
    width: 70%;
    margin: auto;
}
@media only screen and (max-width: 900px) {
    .contact-grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;
    }
    form {
        width: 95%;
    }
    .contact-paper {
        width: 85%;
        margin: auto;
    }
    .contact-wrapper {
        padding-bottom: 300px;
        margin: 0px;
    }
    textarea {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 700px) {
.contact-img {
display: none;
}
textarea {
width: 95%;
}
}