.contact-wrapper {
    width: 100%;
    background-color: #efefef;
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 500px;
}
.contact-input {
    padding: 10px;
    font-size: 1.3em;
    background-color: #f5f5f5;
    border: solid 1px #999999;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contact-header {
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 1.8em;
    color: #444444;
}
.contact-img {
    width: 100px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 300px;
}
form {
    font-family:Arial, Helvetica, sans-serif;
    color: #555555;
    font-weight: 600;
    width: 70%;
    margin: auto;
}
input {
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: solid 1px #cccccc;
    margin-top: 2px;
}
textarea {
    font-family:Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    height: 200px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    background-color:white;
    border: solid 1px #cccccc;
}
.contact-paper {
    background-color: #efefef!important;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}
.contact-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 50% 50%;
}
.container-fluid {
    background-color: yellow;
    color: red;
    font-size: 2em;
    font-weight: 900;
}
@media only screen and (max-width: 900px) {
    .contact-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 100%;
    }
    form {
        width: 90%;
    }
    .contact-paper {
        width: 100%;
    }
    .contact-wrapper {
        padding-bottom: 300px;
    }
}
@media only screen and (max-width: 700px) {
.contact-img {
display: none;
}
textarea {
    height: 160px;
}
}