.signup {
    font-size: 13px!important;
    background-color: transparent!important;
    color: green!important;
}
@media screen and (max-width: 960px) {
    .signup {
        font-size: 12px!important;
    }
}