td {
    border-bottom: 1px solid #cccccc;
  }
  tr:hover { background: #2a3990; }
   /* tr:hover { background: #262261;} */

  tr {
    background: #1b75bc;
      /* background-color: #29aae2 */
      /* background-color: #2a3990 */
      
  }

  td {
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-top: 100px;
      margin-bottom: 100px;
      padding-right: 30px;
      padding-left: 30px;
      vertical-align: middle;
  }

  td  a:link {
    color: white;
    text-decoration: none;
  }
  td  a:visited {
    color: white;
    text-decoration: none;
  }
  td  a:hover {
    color: white;
    text-decoration: none;
  }

  .tbl-img {
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 220px;
    height: auto;
    border-radius: 2px;
  }
  table {
      border-collapse: collapse;
      background-color: none;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      border: none;
  }
  .tbl-header {
      text-align: center;
      font-weight: 700;
      padding: 15px;
      font-size: 1.8em;
      color: #444444;
  }
  .tbl-wrapper {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 80px;
  }

  .tbl-bkd {
    width: 100%;
    padding-top: 80px;
    background-color: white;
    padding-bottom: 80px;
  }

  @media only screen and (max-width: 760px) {
    table {
        padding: 5px;
    }
    .tbl-img {
        width: 170px;
      }
      td{
        font-size: 14px;
        font-weight: 400;
        padding-right: 10px;
        padding-left: 10px;
      }
      .tbl-wrapper {
        width: 100%;
  }
  .tbl-header {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .pg-bkd {
      padding-bottom: 0px;
  }
}