td {
    border-bottom: 1px solid #cccccc;
  }
  tr:hover { background: #f4f4f4; }
  tr {
      background-color:white;
      
  }

  td {
      color: #1b75bc;
      font-size: 20px;
      font-weight: 500;
      margin-top: 100px;
      margin-bottom: 100px;
      padding-right: 30px;
      padding-left: 30px;
      vertical-align: middle;
  }

  td  a:link {
    color: #1b75bc;
    text-decoration: none;
  }
  td  a:hover {
    color: #1b75bc;
    text-decoration: underline;
  }

  .tbl-img {
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
  }
  table {
      border-collapse: collapse;
      background-color: none;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 102%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      border: none;
  }
  .tbl-header {
      text-align: center;
      font-weight: 700;
      padding: 15px;
      font-size: 1.8em;
      color: #444444;
  }
  .tbl-wrapper {
        width: 70%;
        height: auto;
        margin: auto;
        margin-bottom: 80px;
  }

  .tbl-bkd {
    padding-top: 80px;
    background-color: white;
    padding-bottom: 80px;
  }

  @media only screen and (max-width: 760px) {
    table {
        padding: 5px;
    }
    .tbl-img {
        width: 200px;
      }
      td{
        font-size: 14px;
        font-weight: 400;
        padding-right: 10px;
        padding-left: 10px;
      }
      .tbl-wrapper {
        width: 100%;
  }
  .tbl-header {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .pg-bkd {
      padding-bottom: 0px;
  }
  tr:hover { background: #f4f4f4}
  tr {
      background-color: white;
      
  }
}