.int-wrap {
    display: block;
    width: 100%;
    background-color: #efefef!important;
  }
  
  .int-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 31% 31% 31%;
    width: 70%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    }

    @media only screen and (max-width: 900px) {
        .int-grid {
            grid-template-columns: 100%;
            width: 90%;
            margin: auto;
            grid-gap: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }