.log-msg {
    text-align: left;
}
.log-box {
    display: block;
    width: 100px;
    padding-bottom: 300px;
    height: auto;
    margin: auto;
}

.auth-locate {
    margin-top: -150px;
}
@media only screen and (max-width: 900px) {
    .log-box {
        height: auto;
        padding: 50px;
    }
    .auth-locate {
        margin-top: -0px;
    }
}
